body {
    background-color:rgb(209, 209, 209); font-size: xx-large;
}

img {
    text-align: center;
}

figure {
    text-align: center;
}

h1 {
    background-color:rgb(168, 168, 168); font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif
}

header {
    font-size: x-large; 
    font-family:Arial, Helvetica, sans-serif
}

.titulos {
    font-size: xx-large; 
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(168, 168, 168);
}

.texto {
    font-size: x-large; 
    font-family:Arial, Helvetica, sans-serif;
    
}

